
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$dark_font: #636b6f;

html, body {
    background-color: #fff;
    color: darken($dark_font, 10%);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

body {
    padding-top: $gap;
}

#tracker-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0, .1);
    padding: 2px 10px;
    font-size: 17px;

    a:link, a:visited {
        color: $brand-success;
    }

    a:hover {
        color: lighten($brand-success, 10%);
    }
}

.title {
    font-size: 56px;
}

.links > a {
    color: $dark_font;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#form-action-tracker {
    .title {
        margin-bottom: $gap;
    }
}

#input-tracker {
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    outline: none;
    box-shadow: none;
    border: none;
}

.tracker-head {
    margin-bottom: $gap;

    .title {
        margin-bottom: $gap / 2;
        color: darken($brand-warning, 10%);
    } 
}

.tracker-info-list {
    margin: 0;
    padding: $gap / 2;
    li {
        font-size: 14px;
        margin-right: $gap;
        float: left;
        list-style-type: none;

        .tracker-info-label {
            color: $brand-success;
            margin-right: 3px;
            font-weight: 600;
        }

        .tracker-info-value {

        }
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.tracker-action-item {
    border: 1px solid lighten($brand-success, 10%);
    border-radius: 3px;
    padding: $gap;
    margin-bottom: $gap;
    box-shadow: 0 1px 7px -4px #333;
    -moz-box-shadow: 0 1px 7px -4px #333;
    -webkit-box-shadow: 0 1px 7px -4px #333;
}

.tracker-item-create {

    #tracker-input-content {
        width: 100%;
        outline: 0px solid transparent;
        border: none;
        resize: none;
    }

    #tracker-submit-content {

    }
}